@import url{'https://fonts.googleapis.com/css2?family=League+Gothic&display=swap'};
body{
    background-color: yellow;
}
#bob {
    color:blue;
    font-size: 32px;
}
.special-list{
    font-style: bold;
}